*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    verdana 14

body
    overflow-x hidden

::selection
    background $azul
    color #fff

::-moz-selection
    background $azul
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

body
    &:after
        content $img('seta-branca.png') // preload images
        display none
