// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 768px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$azul    = #025688
$laranja = #F58345

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700')
raleway($size, $weight = normal)
    font-size $size + 0px
    font-family Raleway, Helvetica, Arial, sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
verdana($size, $weight = normal)
    font-size $size + 0px
    font-family Verdana, Geneva, Helvetica, Arial, sans-serif
    font-weight normal
    if $weight == bold
        font-weight bold
