header
    height 100px
    background #fff
    .center
        clearfix()
        height 100%
    h1
        position relative
        float left
        top 15px
        margin 0
        padding 0
        a
            display block
            width 135px
            height 70px
            background $img('potenza.png') no-repeat center
            text-indent -9999px
    +below($tablet)
        height 85px
        h1
            top 10px
            a
                width 125px
                height 65px
                background-size auto 100%
                background-position center left
    #nav-desktop
        padding 0
        margin 0
        margin-left 20%
        float left
        list-style-type none
        height 100%
        +below($tablet)
            display none
        > li
            position relative
            float left
            height 100%
            &.has-sub
                > a
                    position relative
                    &:after
                        position relative
                        content $img('seta-azul.png')
                        margin-left 5px
                        top -2px
                &:hover
                &.active
                    background $laranja
                    > a
                        color #fff
                        &:after
                            content $img('seta-branca.png')
                    > ul
                        display block
            &:hover
            &.active
                > a
                    color $laranja
            > a
                display block
                height 100%
                line-height 100px
                raleway 12 bold
                padding 0 14px
                text-transform uppercase
                text-decoration none
                color $azul
            > ul
                display none
                position absolute
                z-index 201
                top 100%
                width 800px
                left -350px
                padding 20px 0
                background $laranja
                list-style-type none
                li
                    position relative
                    float left
                    height 100%
                    width 20%
                    text-align center
                    &:hover
                    &.active
                        a
                            color $azul
                    a
                        display block
                        padding 0 6%
                        raleway 11 bold
                        color #fff
                        text-transform uppercase
                        text-decoration none
                &:before
                &:after
                    content ""
                    position absolute
                    height 100%
                    background $laranja
                    width 2000px
                    top 0
                &:before
                    left -2000px
                &:after
                    right -2000px
    .telefone
        float right
        height 100%
        display table
        > div
            display table-cell
            vertical-align middle
            span
                display inline-block
                position relative
                border 1px solid $laranja
                raleway 13 bold
                color $laranja
                padding 8px
                padding-left 40px
                cursor default
                &:before
                    content ""
                    position absolute
                    width 20px
                    height 15px
                    background $img('icone-telefone.png') no-repeat center
                    left 10px
                    top 50%
                    margin-top -7px
                +below($mobile)
                    padding-left 8px
                    &:before
                        display none
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        width 100%
        margin 0
        padding 0
        z-index 9999
        background $laranja
        list-style-type none
        > li
            display block
            border-bottom 1px solid rgba(#000, .08)
            position relative
            transition background .3s
            &:last-child
                border 0
            > a
                display block
                position relative
                padding 12px 5%
                text-decoration none
                raleway 13 bold
                text-transform uppercase
                color #fff
                .sub-mobile-handle
                    position absolute
                    display block
                    background $img('seta-branca.png') no-repeat 95% 17px
                    width 100%
                    height 100%
                    top 0
                    left 0
                    z-index 9999
                    cursor pointer
            &.active
                > a
                    color $azul
                    .sub-mobile-handle
                        background $img('seta-azul.png') no-repeat 95% 17px
            &.open
                > a
                    background rgba(#000, .08)
            ul
                display none
                list-style-type none
                padding 0
                li
                    background $azul
                    border-bottom 1px solid rgba(#fff, .1)
                    &:first-child
                        border-top 1px solid rgba(#fff, .1)
                    &:last-child
                        border 0
                    &.active
                        > a
                            color $laranja
                    a
                        display block
                        padding 12px 5%
                        color #fff
                        raleway 12
                        text-decoration none
                        text-transform uppercase
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        float right
        position relative
        height 55px
        width 24px
        outline 0
        padding 0
        top 15px
        margin-left 10%
        .lines
            display block
            width 100%
            height 3px
            background $azul
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                border-radius 2px
                background $azul
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

footer
    padding 40px 0
    .center
        clearfix()
        p
            float left
            display inline-block
            margin 0
            verdana 10
            color $laranja
            cursor default
            > a
                color $laranja
                text-decoration none
                &:hover
                    color $azul
                &:last-child
                    position relative
                    &:after
                        content ""
                        position absolute
                        right -25px
                        top -4px
                        width 20px
                        height 20px
                        background $img('trupe.png') no-repeat center
        > a
            float right
            display inline-block
            raleway 12 bold
            color $laranja
            text-decoration none
            &:hover
                color $azul
    +below($tablet)
        padding 20px 0
        .center
            text-align center
            p
                display block
                width 100%
                line-height 1.7
                text-align center
                > a
                    display inline-block
            > a
                display block
                float none
                margin-bottom .5%

.main
    .center
        position relative
        clearfix()
    background $azul
    padding 70px 0
    h2
        margin 0 0 .5em
        raleway 80 bold
        color #fff
        text-shadow 0 4px 0 $laranja
    +below($tablet)
        padding 5% 0
        h2
            raleway 55 bold
            margin-bottom .8em
            text-shadow 0 3px 0 $laranja
    +below($mobile)
        padding 10% 0
        h2
            raleway 36 bold
            text-shadow 0 3px 0 $laranja

.not-found
    background $azul
    text-align center
    padding 20vh 0 40vh
    h1
        margin 0
        padding 10px
        display inline-block
        raleway 13 bold
        color $laranja
        text-transform uppercase
        border 2px solid $laranja