.clientes
    .clientes-thumbs
        clearfix()
        .cliente
            width 160px
            height 160px
            border-radius 100%
            overflow hidden
            float left
            margin-right 24px
            margin-bottom 24px
            border 2px dashed $laranja
            img
                display block
                width 100%
                height auto
            &:nth-child(6n)
                margin-right 0
            +below($tablet)
                height auto
                width 22.5%
                margin-right 3.3333%
                margin-bottom 3.3333%
                &:nth-child(6n)
                    margin-right 3.3333%
                &:nth-child(4n)
                    margin-right 0
            +below($mobile)
                height auto
                width 45%
                margin-right 5%
                margin-bottom 5%
                &:nth-child(6n)
                    margin-right 5%
                &:nth-child(2n)
                    margin-right 0