.contato
    clearfix()
    .informacoes
        width 40%
        float left
        +mobile()
            width 100%
            float none
            margin-bottom 10%
        .icone
            position relative
            padding-left 60px
            min-height 55px
            color #fff
            margin-bottom 20px
            &:before
                content ""
                position absolute
                top 0
                left 0
                width 35px
                height 55px
        .telefones
            &:before
                background $img('contato_icone1.png') no-repeat center
            raleway 32 bold
            p
                margin 0
        .email
            &:before
                background $img('contato_icone2.png') no-repeat center
            line-height 55px
            a
                raleway 20 bold
                color #fff
                transition color .3s
                text-decoration none
                &:hover
                    color $laranja
        .endereco
            &:before
                background $img('contato_icone3.png') no-repeat center
            p
                margin 0
                line-height 1.5
        +below($tablet)
            .icone
                padding-left 40px
                min-height 41px
                &:before
                    width 26px
                    height 41px
                    background-size 100% auto
            .telefones
                font-size 28px
            .email
                line-height 41px
                a
                    font-size 18px
            .endereco
                font-size 14px
        +mobile()
            .email a
                font-size 14px
            .endereco
                font-size 13px
    form
        width 50%
        float right
        +mobile()
            width 100%
            float none
        input[type=text]
        input[type=email]
        textarea
            width 100%
            background #fff
            border 0
            border-bottom 3px solid $laranja
            color $azul
            margin-bottom 6px
            height 44px
            padding 0 10px
            &.error
                border-color #BF0900
            +mobile()
                font-size 13px
        textarea
            height 155px
            resize vertical
            padding 10px
        input[type=submit]
            width 100%
            background $img('pattern-botao.png') repeat
            border 0
            padding 10px
            color #fff
            raleway 20 bold
            text-shadow 0 2px 0 $laranja
            transition background .3s, color .3s
            &:hover
                background-color $laranja
                color $azul
        ::-webkit-input-placeholder
           color $azul
        :-moz-placeholder
           color $azul
        ::-moz-placeholder
           color $azul
        :-ms-input-placeholder
           color $azul
        .response
            background $img('pattern-botao.png') repeat
            raleway 13
            padding 3%
            margin-bottom 10px
            color #fff
            &.error
                background-color #BF0900
                p
                    margin .3em 0
            &.success
                background-color $laranja
                raleway 18
                text-align center
                padding 5%
.googlemaps
    width 100%
    iframe
        width 100%
        height 430px
        +tablet()
            height 300px
        +mobile()
            height 200px
