.home-banners
    position relative
    width 100%
    height 650px
    +below($tablet)
        height 490px
    +mobile()
        height auto
    .banner
        display block
        text-decoration none
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        .center
            height 100%
            +mobile()
                text-align center
        .titulo
            padding-top 100px
            raleway 36 bold
            width 50%
            span
                display block
                color #fff
                text-shadow 0 4px 0 $laranja
                line-height 1
            +below($tablet)
                padding-top 5%
            +mobile()
                width 100%
                padding-top 8%
                span
                    text-shadow 0 3px 0 $laranja
        .subtitulo
            margin-top 1em
            raleway 20
            line-height 1.5
            color $laranja
            text-transform uppercase
            width 50%
            +mobile()
                width 100%
                line-height 1.1
        .chamada
            position absolute
            bottom 0
            left 0
            background $laranja
            raleway 28
            text-transform uppercase
            color #fff
            padding 10px
            transition color .3s
            max-width 50%
            text-align center
            span
                display inline-block
                padding 40px
                border 1px solid #fff
                transition border .3s
            +mobile()
                max-width 100%
                width 100%
                position relative
                margin 5% 0
                display block
                span
                    display block
                    padding 20px
        img
            position absolute
            bottom 0
            right 0
            max-width 45%
            height auto
            +below($tablet)
                max-height 430px
                width auto
            +mobile()
                display none
        .center:hover .chamada
            color $azul
            span
                border-color $azul
