.quemsomos
    .row
        clearfix()
        &:first-of-type
            margin-bottom 30px
        h3
            color $laranja
            raleway 18 bold
            text-transform uppercase
            margin-bottom 1.5em
        +mobile()
            h3
                raleway 16 bold
                margin-bottom 1em
            &:first-of-type
                margin-bottom 8%
        .left
            width 57.4%
            float left
            +mobile()
                width 100%
                float none
            .texto
                verdana 14
                color #fff
                line-height 1.5
            .destaque
                position relative
                margin-top 30px
                background #fff
                color $laranja
                raleway 20
                text-transform uppercase
                padding 10px
                p
                    border 1px solid $laranja
                    margin 0
                    padding 25px
                +mobile()
                    raleway 16
                    padding 8px
                    margin-top 5%
                    p
                        padding 20px
            img
                display block
                max-width 100%
                height auto
        .right
            width 34.25%
            float right
            .mapa
                display block
                max-width 100%
                height auto
            +mobile()
                width 100%
                float none
                .mapa
                    display none
            &.quemsomos-clientes
                img
                    display block
                    width 25.65%
                    height auto
                    float left
                    margin-right 11.525%
                    margin-bottom 11.525%
                    &:nth-child(3n)
                        margin-right 0
                +mobile()
                    margin-top 10%
