.servicos
    color #fff
    +above($tablet)
        padding-top 105px
    clearfix()
    h3
        raleway 30 bold
        color $laranja
        text-transform uppercase
        text-shadow 0 3px 0 rgba(#fff, .1)
        +tablet()
            font-size 26px
        +mobile()
            font-size 20px
    p
        line-height 1.5
        margin 1.5em 0
    ul
        padding-left 16px
        margin-bottom 0
        li
            margin .7em 0
            &:last-child
                margin-bottom 0
    &.servicos-nossos-servicos
        .row-1
            clearfix()
            .left
                width 55%
                float left
                h4
                    raleway 17 bold
                    text-transform uppercase
                    margin-top 10%
                img
                    display block
                    width 100%
                    height auto
                    max-width 580px
                    margin 10% auto 0
            .right
                width 35%
                float right
                background #fff
                color $laranja
                padding 10px
                ul
                    list-style-type none
                    padding 20px
                    margin 0
                    border 1px solid $laranja
                    verdana 13
                    li
                        min-height 30px
                        margin 15px 0
                        display table
                        background-position center left
                        background-repeat no-repeat
                        &:first-child
                            margin-top 0
                        &:last-child
                            margin-bottom 0
                        span
                            display table-cell
                            vertical-align middle
                            padding-left 60px
                        &.nossos-servicos-1
                            background-image $img('servicos_icone1.png')
                        &.nossos-servicos-2
                            background-image $img('servicos_icone2.png')
                        &.nossos-servicos-3
                            background-image $img('servicos_icone3.png')
                        &.nossos-servicos-4
                            background-image $img('servicos_icone4.png')
                        &.nossos-servicos-5
                            background-image $img('servicos_icone5.png')
                        &.nossos-servicos-6
                            background-image $img('servicos_icone6.png')
                        &.nossos-servicos-7
                            background-image $img('servicos_icone7.png')
                        &.nossos-servicos-8
                            background-image $img('servicos_icone8.png')
                        &.nossos-servicos-9
                            background-image $img('servicos_icone9.png')
        .destaque
            background $laranja
            padding 10px
            text-align center
            margin 5% 0
            span
                raleway 21
                color #fff
                display block
                padding 20px
                border 1px solid #fff
        .row-2
            .left
                width 55%
                float left
                li::marker
                    color $laranja
            .right
                width 41%
                float right
                img
                    display block
                    width 100%
                    height auto
                    margin 0 auto
                    max-width 445px
        +mobile()
            .row-1
            .row-2
                .left
                .right
                    width 100%
                    float none
                .right
                    margin-top 5%
    &.servicos-trabalho-temporario
        .texto-1
            width 50%
            float left
        .texto-2
            width 45%
            float right
            background #fff
            padding 10px
            .wrapper
                border 1px solid $laranja
                padding 20px
                color $laranja
                p
                    margin 0
        +mobile()
            .texto-1
            .texto-2
                width 100%
                float none
    &.servicos-terceirizacao
        > p
            width 60%
            +below($tablet)
                width 100%
        .terceirizacao-cycle
            margin-top 5%
            position relative
            .cycle-arrow
                display block
                position absolute
                width 40px
                height 100%
                top 0
                z-index 9999
                text-indent -9999px
                background-position center
                background-repeat no-repeat
                +mobile()
                    background-position center 5px
                    background-size 40% auto
                &.cycle-prev
                    left 0
                    background-image $img('seta-esq.png')
                &.cycle-next
                    right 0
                    background-image $img('seta-dir.png')
            .slide
                clearfix()
                padding 0 100px
                display block
                width 100%
                min-height 40px
                h4
                    width 35%
                    float left
                    margin 0
                    raleway 35 bold
                    color #fff
                    text-shadow 0 3px 0 $laranja
                    text-transform uppercase
                    text-align center
                .texto
                    width 60%
                    float right
                    p
                        margin 1em 0
                        &:first-child
                            margin-top 0
                    li
                        margin .3em 0
                +tablet()
                    padding 0 60px
                    h4
                        font-size 28px
                +mobile()
                    padding 0 50px
                    h4
                        font-size 20px
                        width 100%
                        float none
                        margin-bottom 5%
                    .texto
                        width 100%
                        float none
    &.servicos-treinamento-e-desenvolvimento
        .texto-1
            width 57%
            float left
        .imagem
            width 24%
            float left
            margin-left 10%
            text-align center
            img
                display block
                width 100%
                max-width 260px
                height auto
        +mobile()
            .texto-1
            .imagem
                width 100%
                float none
                margin 0
            .imagem
                margin-top 10%
                img
                    margin 0 auto
    &.servicos-recrutamento-e-selecao
        .texto-1
            width 57%
            float left
            h4
                color #fff
                raleway 26 bold
                text-transform uppercase
                text-shadow 0 2px 0 $laranja
                margin-bottom .8em
                +tablet()
                    font-size 22px
                +mobile()
                    font-size 18px
            p
                margin 1em 0
            .etapas p
                margin .3em 0
        .texto-2
            width 38%
            float right
            img
                display block
                width 100%
                height auto
                max-width 420px
        +mobile()
            .texto-1
            .texto-2
                width 100%
                float none
            .texto-2
                margin-top 10%